<main class="quienes-somos-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <!-- <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span> -->
      <img src="../../assets/img/theme/3.png" alt="">
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="text-center mt-5">
            <h3>
              ¿Quienes
              <span class="font-weight-light"> somos?</span>
            </h3>
            <div class="h6 font-weight-300">
              <i class="ni location_pin mr-2"></i>M&E, es una empresa con una
              trayectoria de más de 10 años en soluciones de conectividad con
              equipos idóneos, para prestar el servicio de certificaciones de
              Fibra Óptica y UTP. Estamos comprometidos con nuestros clientes a
              otorgar valor a cada solución ofrecida, brindando calidad y rápida
              respuesta.
            </div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <h3>Misión</h3>
              <div class="col-lg-9">
                <p>
                  Buscar la excelencia a través del uso de la tecnología
                  disponible y preparación continua de nuestros recursos
                  humanos, en beneficio de la comunidad, cliente y empresa.
                </p>
              </div>
            </div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <h3>Visión</h3>
              <div class="col-lg-9">
                <p>
                  Ser la mejor alternativa de servicio de certificación de fibra
                  óptica y cables de UTP, usando la mejor y más moderna
                  tecnología equipos. Ser reconocidos dentro del medio como una
                  empresa de constante actualización, garantizando un continuo
                  crecimiento y desarrollo de nuestros clientes, personal y
                  empresa.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
